---
include:
  - config/variable
---
src: src.example
root_path: hello_world
category: dependent

# Context-specific scaling using the unified block
concurrency:
  local:
    workers: 4
  gitlab:
    method: matrix

param:
  capitalized: {{ capitalized }} # from config/variable
input:
  - name: "Universe"
  - name: "World"
overwrite:
  - input: { name: "World" }
    param: { capitalized: false }
needs: [PubsubExample]
ci:
  variables:
    KUBERNETES_MEMORY_REQUEST: "4Gi"
    KUBERNETES_NODE_SELECTOR_FAMILY: "cloud.google.com/machine-family=c2"
