src: src.example
root_path: queue_demo
category: dependent

concurrency:
  local:
    method: thread
    workers: 1
  gitlab:
    method: queue
    workers: 10

gcp:
  pubsub_topic: kenjimar_tmp
  pubsub_subscription: kenjimar_tmp-sub

input_generator:
  param:
    num_tasks: 10

post:
  param:
    filename: final.txt
